body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.input-group-addon {

width: 75px;
padding-top: 16px;
height: 51px;
display: inline-block;
}

#formGroupWidth {
  width: 100px;
  /*display: inline;*/
}
#formGroupHeight {
  width: 100px;
  /*display: inline;*/
}
#foo {
  width: 160px;
  display: inline;
}
#foo2 {
  width: 160px;
  display: inline;
  margin-left: 10px;
}

.lol {
    /*margin: 0 auto;*/
    text-align: center;
}

.pansize {

width: 200px;

}

.panli {
  padding-left: 40px;
  padding-right: 0;
}

.panscroll {
  min-height: 345px;
  max-height: 345px;
  overflow-y: scroll;
  /*border: 2px solid black;*/
  margin-left: 20px;
}

.panscrollheader {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.list-group-item {
  padding-bottom: 5px;
  padding-top: 5px;

  /*width: 125px; */
  margin-left: 0px;
}

.alert {
  text-align: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:hover {
  border-top: 1px solid red;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  border-left: 1px solid red;
}

.headRow {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 20px;
/*   font-weight: bold; */
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  /*width: 68px;*/
  border-right: 3px solid #999;
}


.rottxt {
  width: 15px;
  margin: 0 auto;
}


.headCol {
  background: #fff;
  border: 1px solid #999;
  border-bottom: 3px solid #999;
  float: left;
  font-size: 20px;
/*   font-weight: bold; */
  /*line-height: 34px;*/
  /*height: 68px;*/
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;

}
.headBlock {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 18px;
/*   font-weight: bold; */
  line-height: 34px;
  /*height: 68px;*/
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  /*width: 68px;*/
}


.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
